argcomplete==3.6.2
attrs==20.3.0
avro-python3==1.10.2
black==24.8.0
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
Deprecated==1.2.18
flake8==7.1.2
future==1.0.0
google-api-core==2.25.1
google-api-python-client==1.12.11
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-bigtable==2.32.0
google-cloud-core==2.4.3
google-cloud-storage==3.4.0
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.70.0
grpcio-status==1.48.2
grpcio-tools==1.48.2
hilbert==11.0.0
httplib2==0.31.0
idna==3.10
iso8601==0.1.16
isodate==0.7.2
jukebox-client==1.6.531
libpymanifest==0.0.9
libpymanifest-python3==2.1.1
lockfile==0.12.2
luigi==3.6.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mock==5.2.0
mypy-extensions==1.1.0
mypy-protobuf==1.23
oauth2client==3.0.0
packaging==25.0
pathspec==0.12.1
pipx==1.7.1
platform-workflow-config==0.0.10
platformdirs==4.3.6
proto-plus==1.26.1
protobuf==3.20.3
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycodestyle==2.12.1
pyflakes==3.2.0
pygments==2.19.2
pyparsing==3.1.4
python-daemon==3.1.2
python-dateutil==2.9.0.post0
pyyaml==6.0.2
requests==2.32.4
retrying==1.4.2
rich==14.1.0
rsa==4.9.1
six==1.17.0
spotify-bigquery-luigi==0.1.7
spotify-fire-luigi==0.0.70
spotify-gcp-label-normalizer==0.0.74
spotify-hades-luigi==0.0.184
spotify-ice-luigi==0.0.83
spotify-scala-luigi==0.2.8
tenacity==8.5.0
tomli==2.2.1
tornado==6.4.2
typing-extensions==4.13.2
uritemplate==3.0.1
urllib3==2.2.3
userpath==1.9.2
uv==0.8.17
wrapt==1.17.3
